body{background-color: aqua;}

header{width: 100%;}
 ul{list-style: none;}
 #list{float: right;}
 #list li{display: inline-block;
          padding: 8px;}
 #list #sign{background-color: #4887ef;
           margin-right: 25px;
            padding: 7px 15px;
            border-radius: 3px;
            font-weight: bold;}

.googleimage{text-align: center;
           display: block;
            margin: 0 auto;
            clear: both;
            padding-top: 40px;
            }
        img{width: 600px;
            height: 300px;}
.form{text-align: center;}

#textarea{width: 600px;
          line-height: 10px;
           padding: 10px 10px;
           border-radius: 30px;}
.form#textarea{padding: 4px;}

.button{text-align: center;
        padding-top: 30px;
        margin-bottom: 200px;
        }


.footer{background-color: azure;
        border-top: solid 2px black;
        position: fixed;
        bottom: 0;
        padding-bottom: 0;
        width: 100%;
        }
        

footer ul li{display: inline-block;
             color: #6666;
             font-size: 14px;
            padding: 13px;}
    footer ul{float: left;
              padding: 1px;}